@import '../variables.scss';

.root {
  background: $banner-colour;
  color: $heading-colour;
	position: relative;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: $max-content-width;
	display: flex;
}

.brand {
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 5px;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}

.options {
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.settingsBtn {
	width: 40px;
	height: 40px;
	background: none;
	border: none;

	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.configModal {
	position: absolute;
	right: 0;
	radius-bottom-right: 5px;
	radius-bottom-left: 5px;
}
